<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://competent-ptolemy-5810cb.netlify.com/">Daniel Warncke</a>. A web developer living in Orlando, Florida. He is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Daniel attended the Rollins College School of Business & Entrepreneurship where he earned a B.A. in Business Administration. He has a certification in Full-Stack Web Development from the University of Central Florida.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Daniel.jpeg', class: 'img-fluid' %>
    </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Daniel Warncke</h2>
    <br />
    <p>
      Daniel attended the Rollins College School of Business & Entrepreneurship where he earned a B.A. in Business Administration. He has a certification in Full-Stack Web Development from the University of Central Florida.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />